* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: grey;
}
header {
  width: 100%;
  height: 100px;
  background-color: black;
  line-height: 100px;
  display: flex;
  justify-content: space-between;
}
header > img {
  width: 200px;
  margin-left: 50px;
}

.search button {
  margin-right: 50px;
  width: 100px;
}

main {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.film {
  width: 220px;
  height: 330px;
  background-color: white;
  margin: 25px;
  position: relative;
  cursor: pointer;
  padding: 10px;
}

.film_cover {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
}
.film_cover img {
  width: 100%;
}
.review_film {
  height: 150px;
  margin-top: 25px;
  color: black;
}
.review_film p {
  font-size: 15px;
}

.film:hover .film_cover {
  display: none;
}
